h2 { 
	margin: 0px; 
	padding-bottom: 5px; 
	color: #069; 
	font-size: 110%; 
	text-transform:uppercase; 
}

ul
{
	padding-left: 15px;
}

.imaindiv 
{
	margin-left: 10px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.h2low 
{
	padding-bottom: 0px;
}



.ihead
{
	width: 100%;
}

.ihead .icon 
{
	width: 70px;
	text-align: right;
	vertical-align: top;
}

.ihead .text 
{
}

.ihead .btn {
	vertical-align: top;
	width: 90px;
}

.content-table 
{
	margin-left: 40px;
}

.iinfotd 
{
	padding-left: 0px;
	width: 320px;
	vertical-align: top;
}

.iactiontd
{
	width: 275px;
}


.iinfodiv 
{
	margin-left: 10px;
	margin-right: 10px;
}

.imessageform 
{
	width: 550px;
	height: 150px;
}


